<%- include ./partials/head.ejs %>
    <%- include ./partials/wrapper.ejs %>
        <%- include ./partials/header.ejs %>

            <!--start page wrapper -->
            <div class="page-wrapper">
                <div class="page-content">
                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12">
                        <div class="col mb-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4><i class="bx bx-home"></i> <span><i
                                                class="bx bx-chevron-right"></i></span>Respondents <span><i
                                                class="bx bx-chevron-right"></i>
                                            Demographics</span></h4>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 border-start border-0 border-4 border-info">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h5 class="py-2">The digital capability assessment sourced primary data –
                                                quantitative and qualitative – through an electronic survey,
                                                focus group discussion and one-on-one interviews with civil service
                                                leaders.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-chart" data-src="visualisation/13048774">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">More than 9,000 ICT users and professionals from 14
                                                    central
                                                    government agencies responded to an online survey.</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-chart" data-src="visualisation/11515635">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">Male respondents outnumbered women 63% to 37%; this
                                                    ratio was almost the same for ICT users as for ICT professionals.
                                                    This is consistent with gender representation across central
                                                    agencies, where 57% of public servants are men.</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-chart" data-src="visualisation/11515682">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">For analysis, respondents were also disaggregated into
                                                    three age groups: Gen X (41 years old and above), Millennials
                                                    (26–40 years old) and Gen Z (25 years old and below)</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-chart" data-src="visualisation/11515996">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">Around three-quarters of respondents possessed a
                                                    tertiary qualification. The most common qualification was a master’s
                                                    degree, followed by a bachelor’s degree.</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-chart" data-src="visualisation/11516043">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">While around 40% of ICT professionals had both ICT
                                                    education and training, 30% had neither a relevant degree nor
                                                    certified training.</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                </div>
            </div>
            <!--end page wrapper -->

            <%- include ./partials/footer.ejs %>
                <%- include ./partials/js.ejs %>