<%- include ./partials/head.ejs %>
    <%- include ./partials/wrapper.ejs %>
        <%- include ./partials/header.ejs %>

            <!--start page wrapper -->
            <div class="page-wrapper">
                <div class="page-content">
                    <div class="card radius-10">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h5 class="mb-0">Digital culture and work environment</h5>
                                </div>
                                <div class="dropdown ms-auto">
                                    <a class="dropdown-toggle dropdown-toggle-nocaret" href="#"
                                        data-bs-toggle="dropdown">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            Digital culture and work environment content here
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>
            <!--end page wrapper -->

            <%- include ./partials/footer.ejs %>
                <%- include ./partials/js.ejs %>