<%- include ./partials/head.ejs %>
    <%- include ./partials/wrapper.ejs %>
        <%- include ./partials/header.ejs %>

            <!--start page wrapper -->
            <div class="page-wrapper">
                <div class="page-content">
                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12">
                        <div class="col mb-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4><i class="bx bx-home"></i> <span><i
                                                class="bx bx-chevron-right"></i></span>Digital literacy <span><i
                                                class="bx bx-chevron-right"></i>
                                            Digital literacy of ICT users</span></h4>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 border-start border-0 border-4 border-info">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h5 class="py-2">ICT users assessed their confidence across six aspects –
                                                operation of ICT devices, software and the internet;
                                                information and data literacy; digital communication and collaboration;
                                                digital content creation; cybersecurity; and
                                                problem solving – each with different sub-indicators.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-radar" data-src="visualisation/13011384">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">Respondents felt most confident, experienced and expert
                                                    in operating ICT devices, software and the internet. They were
                                                    also assured about information and data literacy and digital
                                                    communication and collaboration, while cybersecurity,
                                                    digital content creation and problem solving were viewed as areas of
                                                    relative weakness.</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->
                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 row-cols-xxl-12">
                        <div class="col">
                            <div class="card radius-10 bg-gradient-kyoto">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="me-auto">
                                            <hr>
                                            <h4 class="my-1 text-dark text-center">"Only around a quarter
                                                of [our] staff
                                                understand
                                                and actively use technology – online calendars, cloud storage and
                                                digital collaboration. The rest still rely on WhatsApp, store data on
                                                hard disks and [need] support from co-workers to
                                                manage digital work."</h4>
                                            <p class="mb-0 text-dark text-center lead">– E-survey respondent</p>
                                            <hr>
                                        </div>
                                        <div id="chart4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-radar" data-src="visualisation/11735505">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">Male and female ICT users have similar confidence
                                                    levels in the operation of ICT devices, digital content creation,
                                                    cybersecurity and problem solving. However, men are more confident
                                                    when it comes to information and data literacy and
                                                    digital communication and collaboration.</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-radar" data-src="visualisation/11735553">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">Gen Z and Millennial ICT users are more familiar with
                                                    technology and digital innovation than their Gen X colleagues.
                                                    Millennial ICT users are less confident in problem solving,
                                                    cybersecurity and digital content creation, but have similar
                                                    confidence levels to Gen Z in the operation of digital tools,
                                                    digital communication and collaboration, and information
                                                    and data literacy</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <iframe title="Detailed aspects of digital literacy: ICT users" aria-label="Table"
                                        id="datawrapper-chart-5h1lV" src="https://datawrapper.dwcdn.net/5h1lV/4/"
                                        scrolling="no" frameborder="0"
                                        style="width: 0; min-width: 100% !important; border: none;" height="1037"
                                        data-external="1"></iframe>
                                    <script type="text/javascript">!function () { "use strict"; window.addEventListener("message", (function (a) { if (void 0 !== a.data["datawrapper-height"]) { var e = document.querySelectorAll("iframe"); for (var t in a.data["datawrapper-height"]) for (var r = 0; r < e.length; r++)if (e[r].contentWindow === a.source) { var i = a.data["datawrapper-height"][t] + "px"; e[r].style.height = i } } })) }();
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                </div>
            </div>
            <!--end page wrapper -->

            <%- include ./partials/footer.ejs %>
                <%- include ./partials/js.ejs %>