<%- include ./partials/head.ejs %>
    <%- include ./partials/wrapper.ejs %>
        <%- include ./partials/header.ejs %>

            <!--start page wrapper -->
            <div class="page-wrapper">
                <div class="page-content">
                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12">
                        <div class="col mb-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4><i class="bx bx-home"></i> <span><i
                                                class="bx bx-chevron-right"></i></span>Digital literacy <span><i
                                                class="bx bx-chevron-right"></i>
                                            Digital literacy of ICT professionals</span></h4>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 border-start border-0 border-4 border-info">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <h5 class="py-2">ICT professionals assessed their own digital literacy based
                                                on six indicators: digital transformation; data science;
                                                software engineering and development operations; information and
                                                cybersecurity; IT audit; and IT services.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-radar" data-src="visualisation/13011453">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">ICT professionals indicated moderate confidence,
                                                    knowledge and experience in digital transformation management and
                                                    data
                                                    science, and low confidence in other aspects.
                                                    It is possible that this group was more self-critical as a result of
                                                    having a deeper understanding of ICT complexities.
                                                    Another explanation is the broad range of responsibilities placed on
                                                    Pranata Komputer and other ICT professional
                                                    positions, which cover technical and managerial aspects.
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->
                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 row-cols-xxl-12">
                        <div class="col">
                            <div class="card radius-10 bg-gradient-kyoto">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="me-auto">
                                            <hr>
                                            <h4 class="my-1 text-dark text-center">"We do not look confident because
                                                we’re required to do multiple tasks. As Pranata Komputer, we have a lot
                                                of roles and
                                                functions – we are required to work not only on technical matters but
                                                also the managerial and governance aspects."</h4>
                                            <p class="mb-0 text-dark text-center lead">– ICT professional Muda</p>
                                            <hr>
                                        </div>
                                        <div id="chart4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-radar" data-src="visualisation/11751524">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">Male ICT professionals had greater confidence in their
                                                    digital literacy, while women felt they were not well equipped in
                                                    any aspect except data science. Both men and women perceived
                                                    information and cybersecurity and IT audits as weaknesses,
                                                    and felt equally confident about data science, albeit to a middling
                                                    level.</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-radar" data-src="visualisation/11751614">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">Older and more experienced ICT professionals in the
                                                    Millennial and Gen X age groups performed better than the younger
                                                    Gen Z in managerial aspects. All age groups were unconfident in IT
                                                    services, audits and cybersecurity. Millennial ICT
                                                    professionals were the most confident in overall digital literacy
                                                    skills – a contrast to ICT users, where Gen Z
                                                    outperformed the other age groups</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <div class="flourish-embed flourish-radar" data-src="visualisation/13011783">
                                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                                    </div>
                                    <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 g-0 row-group border-top">
                                        <div class="col">
                                            <div class="p-3">
                                                <h6 class="mb-0">Training had a significant positive impact on how ICT
                                                    professionals viewed their digital literacy. Those who had
                                                    received training scored higher across most aspects, though
                                                    untrained people were equally confident when it came to data
                                                    science. Cybersecurity was again a common area of weakness.</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex">
                            <div class="card radius-10 w-100">
                                <div class="card-body">
                                    <iframe title="Detailed aspects of digital literacy: ICT professionals"
                                        aria-label="Table" id="datawrapper-chart-a0p5P"
                                        src="https://datawrapper.dwcdn.net/a0p5P/4/" scrolling="no" frameborder="0"
                                        style="width: 0; min-width: 100% !important; border: none;" height="1238"
                                        data-external="1"></iframe>
                                    <script type="text/javascript">!function () { "use strict"; window.addEventListener("message", (function (a) { if (void 0 !== a.data["datawrapper-height"]) { var e = document.querySelectorAll("iframe"); for (var t in a.data["datawrapper-height"]) for (var r = 0; r < e.length; r++)if (e[r].contentWindow === a.source) { var i = a.data["datawrapper-height"][t] + "px"; e[r].style.height = i } } })) }();
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->

                </div>
            </div>
            <!--end page wrapper -->

            <%- include ./partials/footer.ejs %>
                <%- include ./partials/js.ejs %>