<%- include ./partials/head.ejs %>
  <%- include ./partials/wrapper.ejs %>
    <%- include ./partials/header.ejs %>

      <!--start page wrapper -->
      <div class="page-wrapper">
        <div class="page-content">
          <div class="card radius-10">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <div>
                  <h5 class="mb-0">Home</h5>
                </div>
                <div class="dropdown ms-auto">
                  <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <img src="assets/images/header.png" class="card-img-top mb-3" alt="Welcome Banner">
              <h5 class="card-title text-info">About DCA Data Explorer</h5>
              <p class="card-text">In ipsum cillum dolor ex voluptate labore Lorem voluptate non nostrud est minim irure
                anim. Culpa consectetur laborum Lorem consequat laborum Lorem minim in nostrud dolore sint est non
                Cillum incididunt aute aute esse commodo ea minim officia. Ut nulla nulla laborum culpa laborum cillum.
                Ad proident reprehenderit aute labore excepteur. Qui id do consequat sit esse est eiusmod sint id
                exercitation.</p>
            </div>
          </div>
          <!--end row-->
        </div>
      </div>
      <!--end page wrapper -->

      <%- include ./partials/footer.ejs %>
        <%- include ./partials/js.ejs %>